[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

uber_rides = ">=0.6"
click = ">=6.7"
beautifultable = "*"


[dev-packages]

pytest = "*"
"flake8" = "*"
tox = "*"
codecov = "*"
pytest-cov = "*"
